<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cofits.cofitsandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectsFragment"
            android:label="@string/title_activity_project"
            android:screenOrientation="portrait" >
            >
        </activity>
        <activity
            android:name=".SessionsFragment"
            android:label="@string/title_activity_session"
            android:screenOrientation="portrait" >
            >
        </activity>
        <activity
            android:name=".FilesFragment"
            android:label="@string/title_activity_files"
            android:screenOrientation="portrait" >
            >
        </activity>
        <activity
            android:name=".AddFileActivity"
            android:label="@string/title_activity_add_file"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FileViewActivity"
            android:label="@string/title_activity_file_view"
            android:screenOrientation="portrait" >
            >
        </activity>
        <activity
            android:name=".ListFileActivity"
            android:label="@string/title_activity_list_file"
            android:screenOrientation="portrait" >
            >
        </activity>
        <activity
            android:name=".FileExplore"
            android:label="@string/title_activity_file_explore"
            android:screenOrientation="portrait"
            >
        </activity>

        <service android:name="jade.android.MicroRuntimeService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            >
        </activity>
    </application>

</manifest>
